#!/bin/sh

ulimit -n 1000000

exec 2>&1
export GOMAXPROCS=<%= node["cpu"]["total"] %>
exec chpst -u <%= node["prometheus"]["user"] %> <%= node["prometheus"]["binary"] %> \
  <%= Gitlab::Prometheus.kingpin_flags_for(node, "prometheus") %>
